nav{
    display: flex;
    justify-content: center;
    background-color: #8EACCD;
    padding: 15px;
  
  }
  
  .link{
    text-decoration: none;
    padding: 10px 40px;
    color: black;
    text-transform: uppercase;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  }
  
  .pets {
    margin-left: 30px;
    display: flex;  
    flex-wrap: wrap;
  
  }
  
  .pet-card {
  
    padding: 2%;
  
    flex-grow: 1;
  
    flex-basis: 16%;
  
  }
  
  body {
  
    background-color: #D2E0FB;
  
  }
  
  
  
  .cont {
  
    display: flex;
  
    justify-content: center;
  
  }
  
  .back {
  
    background-color: #F9F3CC; 
  
    padding: 20px;
  
    margin-left: 20px;
  
    margin-right: 20px;
  
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  
  
  
  }
  
  .change {
  
    background-color: #D7E5CA;
  
    color: black;
  
    padding: 10px;
  
    border: none;
  
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  
  }
  
  h3, h4 {
  
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  
  }
  
  button {
  
    margin: 10px;
  
  }